/************************************************
  Forms
*************************************************/

input, textarea {
  @extend .form-control;
}

/* -------------------- Contact Form -------------------- */

.contact-form {
  display: grid;
  grid-row-gap: 1.25rem;

  .form-name {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0.625rem;
  }

  button[type="submit"], input[type="submit"] {
    width: 52%;
    margin: 0 auto;
  }
}

// ---------- Contact Form 7 ---------- //

input, textarea {
  &.wpcf7-not-valid {
    border: solid 1px $error-red;
  }
}

div {
  &.wpcf7-response-output {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 1.125rem;
  }

  &.wpcf7-validation-errors {
    color: $error-red;
  }

  &.wpcf7-mail-sent-ok {
    color: $success-green;
  }

  &.wpcf7-mail-sent-ng {
    color: $error-red;
  }

  &.wpcf7-spam-blocked {
    color: $warning-orange;
  }  
}
