/************************************************
  Common styles / Components
*************************************************/

/* --------------- Typography --------------- */

body {
  color: $shadow-gray;
  font-family: 'Lato', sans-serif;
}

/* --------------- Links --------------- */

a {  
  transition: $link-transition;

  &:hover {
    text-decoration: none;
  }
}

.link {
  position: relative;
  display: inline-flex;
  align-items: center;
  @include font-style(null, 1.25rem, bold);
  @include links($dark-cyan, dark);

  span {
    display: inline-block;
    width: 1.5rem;
    height: 0.125rem;
    margin-right: 0.5rem;
    @include links($dark-cyan, dark, background-color);
    @extend .stretched-link;
    transition: $link-transition;
  }
}

/* --------------- Images --------------- */

.img-wh100 {
  @include imgs;
}

/* --------------- Page layouts --------------- */

.page-wrap {
  padding: calc(#{$navbar-height} + 2.5rem) 0 4.5rem;
}


/* --------------- Animation --------------- */

.fadeinX {
  animation: fadeinX .8s forwards;
}

.fadeinY {
  animation: fadeinY .8s forwards;
}

@keyframes fadeinX {
  from {
    opacity: 0;
    transform: translateX(20px)
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeinY {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}








