/************************************************
  Homepage - body
*************************************************/

.section-wrap {
  padding: $section-spacer 0;  
}

.section-title {
  grid-area: title;
  @include font-style($iron-gray, 2rem, bold, $section-title-mb);
  letter-spacing: $title-letter-spacing;

  @include media-breakpoint-up(md) {
    @include font-style($iron-gray, 2.25rem, bold, $section-title-mb);
  }
}

.section-description {
  grid-area: description;
}

.section-img {
  grid-area: img;
}

.img-shadow {
  grid-area: img-shadow;
  background-color: $light-gray;
}

/* -------------------- Hero area -------------------- */

.hero-wrapper {
  height: 100vh;

  @include media-breakpoint-between(xs, sm) {
    min-height: 608px;
    max-height: 848px;
  }

  @include media-breakpoint-between(md, lg) {
    @include aspect-ratio(768, 528);
    max-height: 680px;
    height: auto;
  }

  .content {
    height: 100%;
  }
}

.hero-area {
  display: grid;
  grid-template-rows: $navbar-height [img-shadow-start] 1fr [bg-img-start] 0.75fr [main-img-start] 5.5fr [sideline-start] 0.5fr [main-img-end] 0.75fr [bg-img-end] 0.75fr [content-start] auto [content-end] 1fr [img-shadow-end] 0.75fr [sideline-end];
  grid-template-columns: [bg-img-start] 1fr [content-start main-img-start] 1fr [img-shadow-start] 3.25fr [bg-img-end main-img-end content-end] 0.75fr [sideline-start] auto [sideline-end img-shadow-end];
  height: 100%;
  
  @include media-breakpoint-up(md) {
    grid-template-rows: $navbar-height [bg-img-start] 1fr [img-shadow-start main-img-start sideline-start] 1.5fr [content-start] auto [content-end] 1.5fr [main-img-end] 0.5fr [bg-img-end] 1fr [img-shadow-end sideline-end];
    grid-template-columns: [bg-img-start img-shadow-start] 3fr [main-img-start] 3.5fr [main-img-end] 1fr [bg-img-end] 0.5fr [content-start] 1fr [img-shadow-end] 2.5fr [content-end sideline-start] auto [sideline-end];
  }
}

.hero-bg-img {
  position: relative;
  grid-area: bg-img;
  background-image: url(../img/desktop.jpg);
  background-size: cover;

  &::before {
    @include position(absolute, 0, 0, 0, 0);
    background-image: linear-gradient(#2b596d, #00151d);
    opacity: 0.5;
    content: '';
  }
}

.hero-img-container {
  grid-area: main-img;
  justify-self: center;
  z-index: 10;
  max-width: 19.5rem;
  opacity: 0;

  @include media-breakpoint-up(xl) {
    max-width: 20.5rem;
  }

  .hero-img {
    @include imgs($object-fit: contain);
  }
}

.hero-content {
  grid-area: content;

  .hero-title {
    @include font-style($iron-gray, 2.5rem, bold, 0.625rem);
    letter-spacing: 0.05rem;
    opacity: 0;

    @include media-breakpoint-up(md) {
      @include font-style($iron-gray, 6vw, bold, 0.625rem);
    }

    @include media-breakpoint-up(lg) {
      @include font-style($iron-gray, 3.875rem, bold, 1.25rem);
    }

    @include media-breakpoint-up(xl) {
      @include font-style($iron-gray, 4.5rem, bold, 1.25rem);
    }
  
    span {
      display: block;
      @include font-style($size: 1.75rem, $mb: 0.5rem);

      @include media-breakpoint-up(md) {
        @include font-style($size: 2rem, $mb: 0.5rem);
      }

      @include media-breakpoint-up(lg) {
        @include font-style($size: 2.5rem, $mb: 1rem);
      }

      @include media-breakpoint-up(xl) {
        @include font-style($size: 3rem, $mb: 1rem);
      }
    }

    br {
      @include media-breakpoint-only(sm) {
        display: none;
      }
    }
  }
  
  .hero-sub-title {
    @include font-style($size: 1rem, $mb: 1rem);
    opacity: 0;
    
    @include media-breakpoint-up(md) {
      @include font-style($size: 1.125rem, $mb: 1rem);
    }
    
    @include media-breakpoint-up(lg) {
      @include font-style($size: 1.5rem, $mb: 2rem);
    }
  }

  .btn-outline-dark-cyan {
    padding: 1rem;
    border-width: 2px;
    border-radius: 0;
    opacity: 0;
    
    @include media-breakpoint-down(md) {
      padding: 0.75rem;
      font-size: 0.875rem;
    }
  }
}

.hero-sideline {
  grid-area: sideline;
  justify-self: end;
  width: 1rem;
  background-image: linear-gradient(#73BAD3, #0D3353);
  
  @include media-breakpoint-up(md) {
    width: 1.25rem;
  }

  @include media-breakpoint-up(lg) {
    width: 1.5rem;
  }
}

/* -------------------- About -------------------- */

.about {
  position: relative;
  display: grid;
  grid-template-rows: auto $section-title-mb auto 4rem calc(19rem - #{$section-spacer});
  @include grid-columns(5fr 3fr, xs, md);
  grid-template-areas: 
  ". title       ...........       ."
  ". ........... ...........       ."
  ". description img         img    "
  ". ........... ...........       ."
  ". skills      skills            .";

  // ---------- Breakpoint md & up ---------- //
  @include grid-columns(6fr 1fr 0.5fr 3.5fr, md, md);
  @include media-breakpoint-up(md) {
    grid-template-areas: 
    ". title       ........... ........... ...........       ."
    ". ........... ........... ........... ...........       ."
    ". description ........... ........... img               ."
    ". ........... ........... ........... ...........       ."
    ". skills      skills      ........... ...........       .";
  }  
  // ---------- Breakpoint lg & up ---------- //  
  @include grid-columns(2.2fr 2.8fr 1fr 6fr, lg, lg);
  @include media-breakpoint-up(lg) {
    grid-template-rows: auto $section-title-mb auto 3.5rem 1fr;
    grid-template-areas: 
    ". title       title       title       title       ."
    ". ........... ........... ........... skills      ."
    ". description description ........... skills      ."
    ". ........... ........... ........... skills      ."
    ". ........... img         ........... skills      .";
  }
  // ---------- Breakpoint xl ---------- //
  @include grid-columns(2.5fr 2.5fr 1fr 6fr, xl);
}

.about-description {
  margin: 0 1rem 0 0;
}

.about-img-container {
  align-self: center;
  justify-self: end;
  position: absolute !important;
  @include aspect-ratio(10, 16);
  max-width: 15.5rem;
  min-height: 15rem;
  max-height: 22.5rem;

  @include media-breakpoint-up(md) {
    align-self: start;
  }
  
  @include media-breakpoint-up(lg) {
    align-self: start;
    @include aspect-ratio(1, 1.36);
  }

  &::after {
    @include position(absolute, 0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0.1);
    content: '';
  }
}

.personal-skills {
  grid-area: skills;
  justify-self: center;
  position: absolute;
  z-index: 10;
  width: 88%;
  padding: 3rem 2.5rem;
  box-shadow: $box-shadow;
  background-color: $white;
  
  @include media-breakpoint-up(sm) {
    justify-self: left;
    width: 92%;
    padding: 3rem;
  }

  @include media-breakpoint-up(md) {
    width: 100%;
  }
  
  @include media-breakpoint-up(lg) {
    position: static;    
  }
}

.skill-wrap {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 1.25rem;
  }
  
  .skill-title {
    @include font-style($iron-gray, 1rem, bold);
  }
  
  .skill-value {
    @include position(absolute, $left: 0);
    @extend .skill-title;
    opacity: 0;
    transform: translateX(-50%);
    will-change: left;
  }

  &:last-child{
    .skill-value {
      
      @media (max-width: 416px) {
        transform: translateX(0);        
      }

      @media (max-width: 365px) {
        transform: translateX(6px);
      }

      @media (max-width: 350px) {
        position: static;
      }
    }
  }
}

.progress {
  height: 0.625rem;
  border-radius: 0;
  
  .progress-bar {
    width: 0;
    background-color: $dark-cyan;
    opacity: 0;
    will-change: width;
  } 
}

// ---------- Progress bar animation ---------- //

.progress-animation {
  
  .progress-bar {
    animation: progressBar 1.4s ease-in-out forwards;
  }
  
  .skill-value {
    animation: skillValue 1.4s ease-in-out forwards;
  }
}

@keyframes progressBar {
  from {
    width: 0%;
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes skillValue {
  0% {
    left: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* -------------------- Services -------------------- */

.services {
  display: grid;
  grid-template-rows: [bg-gradient-start dot-pattern-lg-start] $section-spacer [container-start] 1fr [dot-pattern-lg-end] 1fr [dot-pattern-sm-start] 1fr [bg-gradient-end dot-pattern-sm-end] 3.5rem [container-end];
  @include grid-columns([container-start] 3fr [dot-pattern-lg-end] 8fr [dot-pattern-sm-start] 1fr [container-end], xs, xl, [bg-gradient-start dot-pattern-lg-start], [bg-gradient-end dot-pattern-sm-end]);
}

.bg-gradient {
  grid-area: bg-gradient;
  background-image: linear-gradient(#57A4BF, #030911);
}

.dot-pattern {
  background-image: radial-gradient(rgba(255, 255, 255, 0.3) 10%, transparent 0);
  background-size: 20px 20px;
}

.dot-pattern-lg {
  grid-area: dot-pattern-lg;
  min-width: 220px;
  max-width: 380px;
}

.dot-pattern-sm {
  grid-area: dot-pattern-sm;
}

.services-container {
  grid-area: container;
  padding: 5.5rem 1.25rem;
  box-shadow: $box-shadow;
  background-color: $whitesmoke;
  text-align: center;
}

.service-items-wrap {
  display: grid;
  grid-row-gap: 1.25rem;
  margin: 0 auto;

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    max-width: 850px;
  }

  @include media-breakpoint-up(xl) {
    max-width: 982px;
  }
}

.service-item {
  width: 100%;
  max-width: 586px;
  margin: 0 auto;
  padding: 3rem 1.5rem;
  background-color: $white;

  .service-icon {
    @include font-style($dark-cyan, 3rem, null, 1.5rem);
  }

  .service-title {
    @include font-style($iron-gray, 1.25rem, bold, 1rem);
    letter-spacing: $title-letter-spacing;
  }

  .service-description {
    margin: 0 auto;
    max-width: 400px;
  }
}

/* -------------------- Portfolio -------------------- */

.portfolio-container {
  display: grid;
  grid-row-gap: 5rem;
  grid-template-areas: 
    "custom-wp-theme"
    "calculator"
    "simple-website"
    "wp-theme-customize";

  @include media-breakpoint-up(sm) {
    grid-row-gap: 6rem;
  }
}

.portfolio-item {
  display: grid;
  opacity: 0;
}

.portfolio-title {
  grid-area: title;
  z-index: 10;
  max-width: 21rem;
  @include font-style($iron-gray, 1.5rem, bold, 2rem);
  letter-spacing: $title-letter-spacing;
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    @include font-style(null, 1.75rem, bold, 2rem);
  }

  a {
    @include links;
  }
}

.portfolio-description {
  grid-area: description;
  z-index: 10;
  margin-bottom: 1.25rem;
}

.demo-link {
  grid-area: link;
  justify-self: start;
}

.portfolio-img-container {
  grid-area: img;
  box-shadow: $box-shadow;

  img {
    @include imgs($object-fit: contain);
  }
}

// ---------- Custom WordPress theme ---------- //

.custom-wp-theme {
  grid-area: custom-wp-theme;
  position: relative;
  grid-template-rows: [img-shadow-start] 5rem [title-start] auto [title-end description-start] auto [description-end link-start img-start] auto [link-end] 1fr [img-shadow-end] 4.5rem [img-end];
  @include grid-columns([#{$content-start}] 2fr [img-shadow-start img-start] 5fr [#{$content-end}] 1fr, xs, sm, null, [img-shadow-end img-end]);
  overflow-x: hidden;
  // ---------- Breakpoint md & up ---------- //
  @include grid-columns([#{$content-start}] 2fr [img-shadow-start] 2fr [img-start] 0.5fr [#{$content-end}] 3.5fr, md, md, null, [img-end img-shadow-end]);
  @include media-breakpoint-up(md) {
    grid-template-rows: [img-shadow-start] 5.5rem $content 5.5rem [img-shadow-end img-start] 4.5rem [img-end];
  }
  // ---------- Breakpoint lg & up ---------- //
  @include grid-columns(1fr [#{$content-start}] 2fr [img-shadow-start] 2fr [img-start] 0.5fr [#{$content-end}] 6.5fr [img-end img-shadow-end], lg);

  .img-shadow {
    position: relative;
    opacity: 0.9;

    &::before {
      @include position(absolute, 0, 0, 0, 0);
      z-index: -10;
      background-image: url(../img/office_space.jpg);
      background-size: cover;
      opacity: 0.3;
      content: '';

      @include media-breakpoint-up(md) {
        background-position: 50% 35%;
      }
    }
  }

  .portfolio-description {
    max-width: 26.25rem;
  }

  .portfolio-img-container {
    align-self: end;
    width: 160% !important;
    max-width: 32rem;
    @include aspect-ratio;
    box-shadow: none;

    @include media-breakpoint-up(md) {
      max-width: 38.5rem;
    }

    @include media-breakpoint-up(lg) {
      width: 100% !important;
      max-width: none;
    }

    img {
      object-position: bottom;
    }
  }
}

// ---------- Calculator ---------- //

.calculator {
  grid-area: calculator;
  display: grid;
  grid-template-rows: [title-start] auto [title-end img-start] 1fr [img-shadow-start] 1fr $content-wo-title 1fr [img-shadow-end] 1fr [img-end];
  @include grid-columns([title-start img-start img-shadow-start] 4fr [img-end] 0.5fr [#{$content-wo-title-start}] 0.5fr [img-shadow-end] 3fr [#{$content-wo-title-end}], xs, sm);
  // ---------- Breakpoint sm & up ---------- //
  @include grid-columns([img-start img-shadow-start] 3fr [img-end] 0.5fr [#{$content-start}] 0.5fr [img-shadow-end] 4fr [#{$content-end}], sm, md);
  @include media-breakpoint-up(sm) {
    grid-template-rows: [img-start] 1fr [img-shadow-start] 1.5fr $content 1.5fr [img-shadow-end] 1fr [img-end];
  }
  // ---------- Breakpoint lg & up ---------- //
  @include grid-columns([img-start img-shadow-start] 3fr [img-end] 0.5fr [#{$content-start}] 0.5fr [img-shadow-end] 4fr [#{$content-end}] 4fr, lg);

  .portfolio-img-container {
    align-self: start;
  }
}

// ---------- Simple website ---------- //

.simple-website {
  grid-area: simple-website;
  display: grid;
  grid-template-rows: [title-start] auto [title-end img-start] 2rem [img-shadow-start] 1fr [img-end] 2rem [img-shadow-end] 1.5rem $content-wo-title;
  @include grid-columns(1fr [#{$content-wo-title-start}] 1fr [img-shadow-start] 1fr [title-start img-start] 4fr [img-shadow-end] 1fr [title-end img-end #{$content-wo-title-end}], xs, xs);
  // ---------- Breakpoint sm & up ---------- //
  @include grid-columns([#{$content-start}] 3.25fr [img-shadow-start] 1fr [#{$content-end} img-start] 2.75fr [img-shadow-end] 1fr [img-end], sm, sm);
  @include media-breakpoint-up(sm) {
    grid-template-rows: [img-start] 2.25rem [img-shadow-start] 3rem $content 0 [img-end img-shadow-end];
  }
  // ---------- Breakpoint md & up ---------- //
  @include grid-columns([#{$content-start}] 3fr [img-shadow-start] 1fr [#{$content-end} img-start] 3fr [img-shadow-end] 1fr [img-end], md, md);
  @include media-breakpoint-up(md) {
    grid-template-rows: [img-start] 1fr [img-shadow-start] 1.25fr $content 0.5fr [img-end] 1fr [img-shadow-end];
  }
  // ---------- Breakpoint lg & up ---------- //
  @include grid-columns(3.5fr [#{$content-start}] 3.5fr [img-shadow-start] 1fr [#{$content-end} img-start] 3fr [img-shadow-end] 1fr [img-end], lg);
  // ---------- Breakpoint xl & up ---------- //
  @include media-breakpoint-up(xl) {
    grid-template-rows: [img-start] 1fr [img-shadow-start] 1.5fr $content 1.5fr [img-end] 1fr [img-shadow-end];
  }

  .portfolio-title {
    justify-self: end;
    // min-width: 15.5rem;
    min-width: 16rem;

    @include media-breakpoint-up(sm) {
      justify-self: start;
    }
  }

  .portfolio-description {
    margin-right: 1.25rem;
  }

  .portfolio-img-container {
    align-self: start;
    box-shadow: -0.5rem 0.5rem 3rem #00000029;
  }
}

// ---------- WordPress theme customization ---------- //

.wp-theme-customize {
  grid-area: wp-theme-customize;
  display: grid;
  grid-template-rows: [title-start] auto [title-end img-start] 2rem [img-shadow-start] 1fr [img-end] 2rem [img-shadow-end] 1.5rem $content-wo-title;
  @include grid-columns([#{$content-start} img-start] 1fr [img-shadow-start] 5fr [title-end img-end] 1fr [img-shadow-end #{$content-wo-title-end}] 1fr, xs, xs);
  // ---------- Breakpoint sm & up ---------- //
  @include grid-columns([img-start] 1fr [img-shadow-start] 3.5fr [img-end] 0.5fr [#{$content-start}] 0.5fr [img-shadow-end] 2.5fr [#{$content-end}], sm, md);
  @include media-breakpoint-up(sm) {
    grid-template-rows: [img-start title-start] 3rem [img-shadow-start] auto [title-end description-start] auto [img-end] 3rem [img-shadow-end] 1fr [description-end];
  }
  // ---------- Breakpoint md & up ---------- //
    @include media-breakpoint-up(md) {
    grid-template-rows: [img-start] 3.5rem [img-shadow-start] 2rem [title-start] auto [title-end description-start] auto [img-end] 3.5rem [img-shadow-end] 1fr [description-end];
  }
  // ---------- Breakpoint lg & up ---------- //
  @include grid-columns([img-start] 1fr [img-shadow-start] 4fr [img-end] 0.5fr [#{$content-start}] 0.5fr [img-shadow-end] 4fr [#{$content-end}] 2fr, lg);
  @include media-breakpoint-up(lg) {
    grid-template-rows: [img-start] 3rem [img-shadow-start] 3rem $content 2.5rem [img-end img-shadow-end];
  }
  // ---------- Breakpoint xl & up ---------- //
  @include media-breakpoint-up(xl) {
    grid-template-rows: [img-start] 1fr [img-shadow-start] 1fr $content 0 [img-end] 1fr [img-shadow-end];
  }

  .demo-link {
    display: none;
  }

  .portfolio-img-container {
    align-self: start;
  }
}

/* -------------------- Contact -------------------- */

.contact {
  background-color: $whitesmoke;
}

.contact-form-wrap {
  max-width: 33rem;
  margin: 0 auto;
}
