/******************************************************
  Pages - body
*******************************************************/

.entry {
  &:not(:last-child) {
    margin-bottom: 5rem;
  }
}

.entry-basic, .page-basic {
  display: grid;
  grid-template-columns: 0 1fr 0;
  grid-template-areas:
  ". title   ."
  ". meta    ."
  ". img     ."
  ". content ."
  ". link    .";
  
  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr 6fr 1fr;
  }

  @include media-breakpoint-up(lg) {
    display: block;
    overflow: auto;
  }
}

.entry-thumbnail {
  grid-area: img;
  align-self: start;
  @include aspect-ratio(8, 5);
  margin-bottom: 1.5rem;
  
  @include media-breakpoint-up(lg) {
    float: right;
    width: 48%;
    margin-left: 1.5rem;
    margin-bottom: 0;
  }
  
  img {
    @include imgs($object-fit: cover);
  }
}

.entry-title, .page-title {
  grid-area: title;
  @include font-style($iron-gray, 2.25rem, bold, 1.5rem);
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    @include font-style($iron-gray, 2.5rem);
  }
}

.entry-meta {
  grid-area: meta;
  display: flex;
  margin: -1rem 0 1.5rem;
  @include font-style(null, 0.875rem, bold);
}

.categories {
  margin-left: 1.25rem;

  a {
    text-transform: uppercase;
    @include links($dark-cyan, dark);
    
    &:not(:first-child) {
      margin-left: 0.25rem;      
    }    
  }
}

.entry-content, .page-content {
  grid-area: content;
}

.entry-link {
  grid-area: link;
  justify-self: start;
}