/************************************************
  Portfolio Temporary
*************************************************/

.portfolio-temporary-wrapper {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 2.5rem 0;

  @include media-breakpoint-up(lg) {
    padding: 5rem 0;
  }
}

.portfolio-temporary-content {
  display: grid;
  gap: 1.25rem;

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.portfolio-temporary-card {
  display: grid;
  grid-template-rows: auto 1fr;
  color: currentColor;
  transition: transform 0.5s;

  &:hover {
    color: currentColor;
    transform: scale(1.04);
  }
}

.portfolio-temporary-card-img {
  @include aspect-ratio(12, 9);
}

.portfolio-temporary-card-title {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  text-transform: capitalize;
}

.portfolio-temporary-card-content {
  display: grid;
  padding: 1.5rem;
  font-size: 0.875rem;
}

.portfolio-temporary-card-btn-wrap {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.portfolio-temporary-card-btn {
  padding: 0.125rem 0.5rem;
  border: 1px solid $dark-cyan;
  color: $dark-cyan;
  font-size: 0.75rem;

  &:not(:last-child) {
    margin-right: 0.25rem;
  }
}
